.col-md-3.col-sm-6.hero-feature class="js-book-#{book.id}"
  .thumbnail
    = image_tag 'http://placehold.it/800x500'
    .caption
      h3= book.name
      p= book.description
      p= link_to 'Buy Now!', add_cart_items_path(book_id: book), remote: true, method: :post, class: 'btn btn-primary js-add-to-cart'
