.row class="js-book-#{cart_item.book.id}"
  .col-xs-2
    = image_tag 'http://placehold.it/100x70', class: 'img-responsive'
  .col-xs-4
    h4.product-name
      strong= cart_item.decorate.name
    h4
      small= cart_item.decorate.description
  .col-xs-6
    .col-xs-6.text-right
      h6
        strong
          = cart_item.decorate.price
          span.text-muted  x
    .col-xs-4
      = number_field_tag 'quantity', cart_item.quantity, min: 1, max: 1000, class: 'form-control input-sm js-quantity-change', data: { id: cart_item.book.id }
    .col-xs-2
      = link_to remove_cart_items_path(book_id: cart_item.book), remote: true, method: :post, class: 'btn btn-link btn-xs' do
        span.glyphicon.glyphicon-trash
