.row
  .col-xs-8
    .panel.panel-info
      .panel-heading
        .panel-title
          .row
            .col-xs-6
              h5
                span.glyphicon.glyphicon-shopping-cart
                |  Shopping Cart
            .col-xs-6
              = link_to root_path, class: 'btn btn-primary btn-sm btn-block' do
                span.glyphicon.glyphicon-share-alt
                |  Continue shopping
      .panel-body
        - if current_cart.cart_items.any?
          = render partial: 'cart_item', collection: current_cart.cart_items
        - else
          .row.text-center
            | There's no items in the cart
      - if current_cart.cart_items.any?
        .panel-footer
          .row.text-center
            .col-xs-3
              = link_to 'Clear Cart', clear_cart_items_path, remote: true, method: :post, class: 'btn btn-danger btn-block'
            .col-xs-6
              h4.text-right
                = 'Total '
                strong.js-cart-total = current_cart.decorate.total
            .col-xs-3
              = link_to 'Checkout', '#', class: 'btn btn-success btn-block'
