// Workaround for blocks with different name/description length
.row-flex
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  align-items: stretch
  div
    float: none !important

.hero-feature
  .thumbnail
    height: 100%
    margin-bottom: 0
