doctype html
html
  head
    title Books Store
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  body
    nav.navbar.navbar-inverse.navbar-fixed-top role='navigation'
      .container
        .navbar-header
          button.navbar-toggle data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to 'Books Store', root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              = link_to 'Cart', cart_index_path
    .container
      = yield
